fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic
python-dotenv
pydantic
email-validator
pydantic-settings
bcrypt
python-jose
python-multipart
pypdf
python-docx
langchain
chromadb
openai
google-genai
mistralai
sentence-transformers
torch
asyncpg>=0.27.0
# Tests
pytest
pytest-asyncio
httpx