fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic
python-dotenv
pydantic-settings
passlib[bcrypt]
python-jose
python-multipart
pypdf
python-docx
langchain
chromadb
openai
google-genai
mistralai
sentence-transformers
asyncpg>=0.27.0